{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap5_content %}
{% with request.resolver_match.url_name as url_name %}
<nav class="navbar navbar-expand">
  <div class="container">
    <a class="navbar-brand">Fiction Classifier</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'index' %} active {% endif %}" href="{% url 'classifier:index' %}">
          Index
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'tasks' %} active {% endif %}" href="{% url 'classifier:tasks' %}">
          Tasks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'text' %} active {% endif %}" href="{% url 'classifier:text' %}">
          Classify Text
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'document' %} active {% endif %}" href="{% url 'classifier:document' %}">
          Classify Document
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if url_name == 'profile' %} active {% endif %}"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu">
          {% if user.is_authenticated %}
          <li><a class="dropdown-item"> Logged in as: <br> {{ user }}</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
          <li><a class="dropdown-item" href="{% url 'django_registration_register' %}">Register</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
</nav>
{% endwith %}

{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}
