{% extends "./base-page.html" %}

{% block title %} Tasks {% endblock %}

{% block content %}

{% if tasks %}
{% for task in tasks %}

<div class="card mb-3">
  <div class="card-header">
    {{ task.id  }}
  </div>
  <div class="card-body">
    <p> Name: {{ task.name }} </p>
    <p> Status: {{ task.status }}</p>
    {% if task.result != None %}
    <p>
    Result:
      {% for genre in task.result %}
      <span class="badge bg-primary">{{ genre }}</span>
      {% endfor %}
    </p>
    {% endif %}
  </div>
</div>
{% endfor %}

{% else %}
<p> You have no tasks yet </p>
{% endif %}


{% endblock %}
